<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Order Confirmation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h1>
			Pedido número: <span th:text="${pedido.id}"> </span>
		</h1>
		<p>
			Instante: <span
				th:text="${#dates.format(pedido.instante, 'dd/MM/yyyy hh:mm')}"></span>
		</p>
		<p>
			Cliente: <span th:text="${pedido.cliente.nome}"></span>
		</p>
		<p>
			Situação do pagamento: <span
				th:text="${pedido.pagamento.estadoPagamento.descricao}"></span>
		</p>
		<h3>Detalhes do pedido:</h3>
		<table border="1">
			<tr>
				<th>Produto</th>
				<th>Quantidade</th>
				<th>Preço unitário</th>
				<th>Subtotal</th>
			</tr>
			<tr th:each="item : ${pedido.itens}">
				<td th:text="${item.produto.nome}">nome</td>
				<td th:text="${item.quantidade}">quantidade</td>
				<td
					th:text="${#numbers.formatCurrency(item.preco)}" >preco</td>
				<td
					th:text="${#numbers.formatCurrency(item.subTotal)}">subTotal</td>
			</tr>
		</table>
		<p>
			Valor total: <span
				th:text="${#numbers.formatDecimal(pedido.valorTotal, 0, 'POINT', 2, 'COMMA')}"></span>
		</p>
	
			
			
		<div>
		<p>
			<h3>Detalhes do endereço:</h3>
		</p>
			<table border="1" style="width: 100%">
				<tr>
					<th>Bairro:</th>
					<td>
						<span
							th:text="${pedido.enderecoDeEntrega.bairro}">
						</span>
					</td>
				</tr>
				<tr>
					<th>Logradouro:</th>
					<td>
						<span
							th:text="${pedido.enderecoDeEntrega.logradouro}">
						</span>
					</td>
				</tr>
				<tr>
					<th>Número:</th>
					<td>
						<span
							th:text="${pedido.enderecoDeEntrega.numero}">
						</span>
					</td>
				</tr>
				<tr>
					<th>Complemento:</th>
					<td>
						<span
							th:text="${pedido.enderecoDeEntrega.complemento}">
						</span>
					</td>
				</tr>
				<tr>
					<th>Cep:</th>
					<td>
						<span
							th:text="${pedido.enderecoDeEntrega.cep}">
						</span>
					</td>
				</tr>
			</table>

		</div>
		
	</div>
</body>
</html>

